*{
	padding: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: 'Lato','Open Sans', sans-serif;
	overflow-x: hidden;
}
body main{
    width: 100%;
    /*background-color: white;*/
}
/*header section starts here*/
header{
    background-color: #fff; 
    width: 100%;   
     border-bottom: 1px solid #fff;
}
header article {
    padding: 1em 0;
    width: 75%;
    margin: auto !important;
   
}
._PDB20PX{
  padding-bottom: 20px;
}
._PAD20{
  padding: 20px;
}
._PAD5{
  padding: 5px;
}
.logo{

}
.header_right_section{
  text-align: right;
}
.user{

}
.user li {
  display: inline-block;
  padding: 12px 5px 10px; 
  color: #284695;
}
.menu{

}
.menu li {
  display: inline-block;
  padding: 7px 5px 10px;
}
.menu li a{
  text-decoration: none;
  color: #284695;
  font-weight: 700;
}
/*header section Ends here*/
/*Login Starts here*/
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #284695;
}
.pen-title span a {
  color: #284695;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #284695;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #363636;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
  bottom: 96px;
  right: 36px;
  background: #284695;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}
.btnSave,.btnSavevendor{
     background-image: url(../images/save.png);
    border: none;
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: transparent;
    color: transparent;
    width: 20px;
}
.btnDelete,.btnDeletevendor{
    padding: 0 10px;
    background: red;
    color: white;
    border: none;
    margin-right: 7px;
}
.btnEdit,.btnEditvendor{
     background-image: url(../images/edit.png);
    border: none;
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: transparent;
    color: transparent;
    width: 20px;
}
/* Container */
._login{
 	/*background-image: url(../images/login_bg.jpg);*/
  background-color: #ccc;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}
.login_container {
	 position: absolute;
    max-width: 400px;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 540px;
}
.login_container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.login_container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.login_container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.login_container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.login_container.active .card.alt .toggle:before {
  content: '';
}
.login_container.active .card.alt .title,
.login_container.active .card.alt .input-container,
.login_container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login_container.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.login_container.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.login_container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.login_container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.login_container.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
.caret{
  transition: all .5s ease; 
}
/* Card */
.cart-90deg .caret{
  transform: rotateZ(-90deg);
    transition: all .5s ease;
}
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  /*background: #284695;*/
  /*height: 10px;*/
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 1.5em solid #284695;
  margin: 0 0 35px;
  padding: 10px 0 10px 12px;
  color: #284695;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  /*height: 60px;*/
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
  margin: 15px auto 3px;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #284695;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  /*width: 240px;*/
  padding: 10px 50px;
  border: 2px solid #284695;
  /*padding: 20px 0;*/
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #284695;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #284695;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #284695;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: white;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card.alt .toggle {
  position: relative;
  background: #284695;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.card.alt .toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #284695;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
/*Login Ends here*/
/*Body section starts here*/
.main_container{
  width: 97%;
  background-color: white;
  position: relative;
  display: block;
  margin: 0 auto 20px;
  float: none;
  clear: both;
  padding: 0;
}
.products {
  padding-top: 6px;
  cursor: pointer;
  height: 300px;
}
.products div{
  text-align: center;
}
.products div img{
    width: 100%;
    position: relative;
    display: block;
    padding: 20px 10px;
    height: 300px;

}
#resizable { width: 150px; height: 150px; padding: 0.5em; }
  #resizable h3 { text-align: center; margin: 0; }
.navbar-default{
  background-color: white;
}
#testelement .front_view{
  width: 196px;
  height: 235px;
  position: relative;
  display: block;
  margin: auto;
   z-index: 999;
   margin-top: 78px;
    margin-left: 111px;
}
#testelement .left_view{
  width: auto;
  height: 256px;
  position: relative;
  display: block;
  margin: auto;
   z-index: 999;
   margin-top: 80px;
    margin-left: 157px;
}
#testelement .right_view{
  width: 184px;
  height: 235px;
  position: relative;
  display: block;
  margin: auto;
   z-index: 999;
   margin-top: 77px;
    margin-left: 122px;
}
#testelement .back_view{
  width: 187px;
  height: 235px;
  position: relative;
  display: block;
  margin: auto;
   z-index: 999;
   margin-top: 85px;
    margin-left: 123px;
}
#testelement div:nth-child(2){
  display: none;
}
.simulator img { 
  position: relative;
  width: 247px;
  margin: auto;
  display: block;
  z-index: 0;
}
.simulator button { 
    border: 0;
    background: transparent;
    color: black;
    font-weight: 900;
    padding: 10px;
  }
 .simulator .navigation{
    margin: auto;
    width: 79%;
    position: relative;
    display: block;
    text-align: center;
  }

  /*menu section*/
.menu_sec{
    width: 175px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    top: 52px;
    position: absolute;
    overflow: initial;
    background-color: white;
    right: 20px;
    display: none;  
}
.menu_sec li{
  padding: 10px;
  list-style-type: none;
  font-size: 14px;
    color: #999;
}
.menu_sec li:hover{
  background-color: #284695;
  color: white;
  cursor: pointer;
}

#bs-example-navbar-collapse-1{
    padding: 10px;
    /* float: right; */
    right: 20px;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #284695;
    color: #ccc;
    position: absolute;
}


/*Body section ends here*/
/*Responsive Starts Here*/
@media screen and (min-width: 1501px){
    body{
      width: 1500px;
      margin: auto;
      background-color: #ccc;
    }
}
@media screen and (max-width: 1500px){
    body{
      width: 100%;
      margin: auto;
      background-color: #ccc;
    }
}
@media screen and (max-width: 1200px){
  
@media screen and (max-width: 850px){
  
}
@media screen and (max-width: 767px){
    .header_right_section { text-align: center; }
    .logo {
        text-align: center;
    }
    ._PAD20{
      padding: 10px;
    }
    .user_resp_menu{
      position: absolute;
      right: 2em;
      background: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
      color: #284695;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
      color: #284695;
      background-color: #efefef;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
      background-color: #efefef;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
      width: 175px;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
      top: 52px;
      position: absolute;
      overflow: initial;
    }
    
    .side-menu .navbar-nav li a {
        padding: 15px;
        color: white;
        font-size: 15px;
    }
}
@media screen and (max-width: 400px){
    
}
/*Responsive Ends Here*/